@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}


.nav-links {
    padding: 0;
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff; /* Font color for links */
    font-size: 16px; /* Font size for links */
    text-transform: capitalize;
    font-weight: 300;
    color: #bbbbbb; /* Default link color */
    display: block;
    transition: all 0.3s ease;
}

nav>ul>li{
    margin-top: 20px;
    cursor: pointer;
    display: inline;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    transition: 0.5s;
}
.nav-links a:hover {
    color: #ffffff;
    padding-left: 8px;
}



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
/*table*/

.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: Poppins;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #8665f7;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
/*table*/
/*footer*/
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:rgba(196,158,117,255);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:rgba(14,54,83,255);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color:rgba(14,54,83,255);
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*footer*/
#c p{
	font-weight: bold;


}
#btn3{
	text-align: center;
}
#btn3 button{
	width: 150px ;
	height: 30px;
	background-color: transparent;
	border: 1px solid black;
	transition: 0.5s ease;
	cursor: pointer;


}
#btn3 button:hover{
	background-color: rgba(238,224,208);

}
@media screen and (max-width:895px){
	#btn3 button{
		width: 100px;
	}

}